.lg .category-products {
  padding: 48px 0 88px;
  background-color: var(--bg-color);
  @media (max-width: 768px) {
    padding: 16px 0 32px;
  }
}

.lg .category-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  margin-bottom: 16px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }

  &__item {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    background-color: var(--card-bg);
    border-radius: 12px;
    max-height: 244px;
    min-height: 244px;
    overflow: hidden;
    position: relative;
    @media (max-width: 768px) {
      flex-direction: column;
      max-height:unset;
      min-height: unset;
    }
    &--big {
      grid-column: span 3;
      @media (max-width: 768px) {
        grid-column: span 2;
      }
    }
  }

  &__link {
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }

  &__decor {
    position: absolute;
    top: -133px;
    right: -54px;
    width: 324px;
    height: 324px;
    border-radius: 100%;
    background-color: var(--card-decor);
    @media (max-width: 768px) {
      width: 141px;
      height: 141px;
      top: unset;
      bottom: -37px;
      right: -26px;
    }
}

  &__img-wrapper {
    width: 50%;
    z-index: 1;
    display: flex;
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: -5px;
    }
    & picture {
      margin-top: auto;
    }
  }

  &__img {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    margin-bottom: -5px;
  }

  &__info {
    padding-top: 32px;
    padding-left: 32px;
    width: 50%;
    position: relative;
    z-index: 1;
    @media (max-width: 768px) {
      width: 100%;
      padding: 18px 16px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: Museo;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--font-title);
    @media (max-width: 992px) {
      font-size: 20px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  &__btn {
    font-size: 18px;
    @media (max-width: 992px) {
      padding: 10px 14px;
      font-size: 16px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.lg .swiper-category {
  padding-bottom: 48px;
  @media (max-width: 768px) {
    padding-bottom: 32px;
  }
}